@font-face {
    font-family:'Aestetico Informal';
    src: url(lib_fonts\Aestetico_Informal_Regular.otf);
}

:root {

    /* Colors: */
    --naranja: #E2665C;
    --negro: #000000;
    --blanco: #FFFFFF;
    --blanco50: rgba(255, 255, 255, 0.5);
    --blanco80: rgba(255, 255, 255, 0.8);
    
    /* Font/text values */
    --fuenteParrafos:'IBM Plex Sans', sans-serif;
    --fuenteTitulos:'Aestetico Informal';

    /* Dimensions */

    --anchoMaxCajaMensajePrincipal: 700px;
    --anchoMinCajaMensajePrincipal: 500px;
    --anchoMaxCajaFormulario: 700px;
    --anchoMinCajaFormulario: 500px;
            
      }
    
/* Contenido Responsive */

.contenidoLandingPage {    
    display: flex; 
    flex-wrap: wrap; 
    }

/* Elementos de mensaje principal */

.cajaMensajePrincipal {
    flex: 1;
    margin: 3% 10% 0% 10%;
    min-width: 400px;
    padding: 30px 40px 40px 40px;
    max-width: var(--anchoMaxCajaMensajePrincipal);
    min-width: var(--anchoMinCajaMensajePrincipal);                 
    }

    #logoTituloLanding {
        top:150px;
        left:55px;
        max-width: var(--anchoMaxCajaMensajePrincipal);
        transition: 1.0s;   
        align-items: center;     
        }
     
    #accion {
        font-family: var(--fuenteTitulos);
        font-size: 60px;
        font-weight: bold;
        color: var(--negro);    
        line-height: 10px;
        transition: 1.0s;
        padding: 0% 20% 0% 0%;
        text-align-last: center;
        max-width: var(--anchoMaxCajaMensajePrincipal);
        }

    #dondeAccion {        
        font-family: var(--fuenteTitulos);     
        font-size: 100px;
        font-weight: bold;
        color: var(--negro);
        letter-spacing:-5px;
        line-height: 100px;
        transition: 1.5s;
        left: 200px;   
        text-align-last: center;
        max-width: var(--anchoMaxCajaMensajePrincipal);
        }
    
   
   
/* Elementos de Formulario de Registro */

.cajaFormularioRegistro {
    flex:2;
    background-color: var(--blanco80);
    border-radius: 10px;
    margin: 3% 5% 0% 5%;
    min-width: var(--anchoMinCajaFormulario);
    min-height: 500px;
    padding: 30px 40px 40px 40px;
    transition: 1.5s
    }

    #ExplicacionPorQueRegistrarse{
        font-family: var(--fuenteParrafos);
        font-style: italic;
        font-weight: 600px;
        font-size: 25px;
        line-height: 30px;
        color: var(--naranja);
        align-content: flex-end;
        background-color: var(--blanco50);
        padding: 0px 0px 40px 0px;
        }

    .formularioRegistro{        
        min-width: 100%;
        transition: 1.0s;
        }

    .casillaDatoUsuario{
        background: none;
        color: var(--negro);
        font-family: var(--fuenteParrafos);
        font-weight: bold;
        font-size: 22px;
        padding:10px 10px 0px 0px;
        width: 100%;       
        border: none;
        border-bottom: 1px solid var(--naranja)
        }

    .casillaDatoUsuario:focus{
        outline: none;
        color: var(--negro);
        }

    .labelFormulario {
        padding: 0px 0px 15px 0px;
        font-family: var(--fuenteParrafos);
        font-style: italic;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: var(--naranja);  
        }

    .BotonEnvioDatosRegistro{
        background-color: var(--naranja);
        font-family: var(--fuenteTitulos);
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: var(--blanco);
        padding: 10px 10px 10px 10px;
        width: 80%;
        border: none;
        border-radius: 30px;
        margin-top: 5%;
        margin-left: 10%;
        cursor: pointer;
        }
