@font-face {
    font-family:'Aestetico Informal';
    src: url(/lib_fonts/Aestetico_Informal_Regular.otf);
}

:root {
    --blanco: rgb(255, 255, 255);
    --blanco50: rgba(255, 255, 255, 0.5);
    --blanco80: rgba(255, 255, 255, 0.8);
    --naranja: rgb(226, 102, 92);
    --naranja50: rgb(226, 102, 92, 0.5);
    --grisclaro: rgb(202, 202, 202);
    --negro: rgb(0, 0, 0);
        
    --fuenteParrafos:'IBM Plex Sans', sans-serif;
    --fuenteTitulos:'Aestetico Informal';

    --anchoMaxCajaMensajePrincipal: 700px;
    --anchoMinCajaMensajePrincipal: 400px;
    --anchoMaxCajaFormulario: 700px;
    --anchoMinCajaFormulario: 400px;    
      }
    
/* Contenido Responsive */

.bodyLandingPage {
    background: url(../img/Fondo.png) no-repeat center / cover fixed;
    }

.contenidoLandingPage {    
    display: flex; 
    flex-wrap: wrap;  
    }

/* Elementos de mensaje principal */

.cajaMensajePrincipal {
    flex: 1;
    margin: 3% auto 0% auto;
    min-width: 400px;
    font-family: var(--fuenteParrafos);
    font-size: 50px;
    font-weight: bold;
    color: var(--negro);
    letter-spacing:0px;
    padding: 30px 40px 40px 40px;
    max-width: var(--anchoMaxCajaMensajePrincipal);
    min-width: var(--anchoMinCajaMensajePrincipal);  
    align-items: right; 
                  
    }
    
    .esloganPrincipal {    
        max-height: 300px;
        text-align: center;
        }

/* Elementos de Formulario de Registro */

.cajaFormularioRegistro {
    flex:2;
    font-family: var(--fuenteParrafos);
    font-style: italic;
    background-color: var(--blanco80);
    margin: auto;
    max-width: var(--anchoMaxCajaFormulario);
    min-width: var(--anchoMinCajaFormulario);
    min-height: 500px;
    padding: 30px 60px 30px 60px;
    /*transition: 1.5s*/
    }

.formularioRegistro{        
    min-width: 100%;
    }

    .ExplicacionPorQueRegistrarse{
        font-size: 28px;
        font-style: normal;
        line-height: 30px;
        color: var(--naranja);
        padding: 0px 0px 30px 0px;
        max-height: 150px;
        justify-content: center;
        }  

    .labelFormulario {
        padding: 20px 0px 0px 0px;
        font-weight: bold;
        font-size: 20px;
        line-height: 35px;
        color: var(--naranja);  
        }  

    .casillaDatoUsuario{
        background: var(--grisclaro);
        color: var(--negro);
        font-weight: bold;
        font-size: 28px;
        padding:3px 3px 3px 3px;
        width: 100%;       
        border: none;
        }

    .casillaDatoUsuario:focus{
        outline: none;
        color: var(--negro);
        }
   
    .BotonEnvioDatosRegistro{
        background-color: var(--naranja);
        font-family: var(--fuenteTitulos);
        font-weight: bold;
        font-size: 35px;
        line-height: 38px;
        color: var(--blanco);
        padding: 10px 10px 10px 10px;
        width: 60%;
        border: none;
        align-items: center;
        margin: 5% 15% 0 15%;
        cursor: pointer;
        }
