@font-face {
    font-family:'Aestetico Informal';
    src: url(/lib_fonts/Aestetico_Informal_Regular.otf);
}

:root {
    --blanco: rgb(255, 255, 255);
    --blanco50: rgba(255, 255, 255, 0.5);
    --blanco80: rgba(255, 255, 255, 0.8);
    --naranja: rgb(226, 102, 92);
    --naranja50: rgb(226, 102, 92, 0.5);
    --grisclaro:rgb(232, 240, 254);
    --negro: rgb(0, 0, 0);
        
    --fuenteParrafos:'IBM Plex Sans', sans-serif;
    --fuenteTitulos:'Aestetico Informal';

    --anchoMaxCajaMensajePrincipal: 700px;
    --anchoMaxCajaFormulario: 700px;
    --anchoMinCajaFormulario: 400px;   
}
    
/* Contenido Responsive */

.bodyLandingPage {
    background: url(../img/Fondo.png) no-repeat center / cover fixed;
}

.contenidoLandingPage {    
    display: flex; 
    flex-wrap: wrap; 
    max-height: 100%;
    margin: 2% 5%; 
}

/* Elementos de mensaje principal */

.mensajePrincipal {
    flex: 1;
    margin: 0% auto;
    min-width: 400px;
    font-family: var(--fuenteParrafos);
    font-size: 50px;
    font-weight: bold;
    color: var(--negro);
    letter-spacing:0px;
    padding: 30px 40px 40px 40px;
    max-width: var(--anchoMaxCajaMensajePrincipal);
                
}
    .mensajePrincipal_eslogan {    
        max-height: 300px;
        text-align: center;
    }

/* Elementos de Formulario de Registro */

.formularioRegistro {
    flex:2;
    font-family: var(--fuenteParrafos);
    font-size: 28px;
    background-color: white;
    margin: auto;
    max-width: var(--anchoMaxCajaFormulario);
    min-width: var(--anchoMinCajaFormulario);
    padding: 60px ;    
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1)
}

    .formularioRegistro_invitacion {  
        line-height: 30px;
        color: var(--naranja);
        max-height: 150px; 
    }  
     
    .formularioRegistro_casilla {
        background: var(--grisclaro);
        color: var(--negro);
        margin:15px auto 15px auto;
        padding: 2% 5%;
        width: 90%;       
        border: none;
        border-radius: 6px;  
        font-size: 28px;
        border: 1px solid #dddfe2;
    }

    .formularioRegistro_casilla:focus {
        outline: none;
        color: var(--negro);
    }
   
    .formularioRegistro_botonEnvioDatos {
        background-color: var(--naranja);
        font-family: var(--fuenteParrafos);
        font-weight: bold;
        font-size: 35px;
        color: var(--blanco);
        padding: 10px;
        width: 70%;
        border: none;
        align-items: center;
        margin: 5% 15% 0 15%;
        cursor: pointer;
        border-radius: 30px; 
    }