@font-face {
    font-family:'Aestetico Informal';
    src: url(lib_fonts\Aestetico_Informal_Regular.otf);
}

:root {

    /* Colors: */
    --naranja: #E2665C;
    --negro: #000000;
    --blanco: #FFFFFF;
    --blanco50: rgba(255, 255, 255, 0.5);
    --blanco80: rgba(255, 255, 255, 0.8);
    
    /* Font/text values */
    --fuenteParrafos:'IBM Plex Sans', sans-serif;
    --fuenteTitulos:'Aestetico Informal';

     /* Dimensions */

    --anchoMaxCajaMensajePrincipal: 700px;
            
    }
    
.contenidoLandingPage {
    
    display: flex; 
    flex-wrap: wrap; 
}

/* Atributos cajas de información */

.cajaMensajePrincipal {

    flex: 1;
    margin: 3% 10% 0% 10%;
    min-width: 400px;
    padding: 30px 40px 40px 40px;
    max-width: var(--anchoMaxCajaMensajePrincipal);
    
                  
}

.cajaFormularioRegistro {

    flex:2;
    background-color: var(--blanco80);
    border-radius: 10px;
    left:35%;
    margin: 3% 10% 0% 10%;
    min-width: 400px;
    min-height: 500px;
    padding: 30px 40px 40px 40px;
      
}
  
/* Atributos Titulo Principal: */

    #logoTituloLanding {
        top:150px;
        left:55px;
        max-width: var(--anchoMaxCajaMensajePrincipal);
        transition: 1.0s;   
        align-items: center;     
        }
     
    #accion {
        font-family: var(--fuenteTitulos);
        font-size: 60px;
        font-weight: bold;
        color: var(--negro);    
        line-height: 50px;
        transition: 1.0s;
        padding: 0% 0% 0% 0%;
        text-align-last: center;
        max-width: var(--anchoMaxCajaMensajePrincipal)
        }

    #donde {
        
        font-family: var(--fuenteTitulos);     
        font-size: 100px;
        font-weight: bold;
        color: var(--negro);
        letter-spacing:-5px;
        line-height: 100px;
        transition: 1.5s;
        left: 200px;   
        text-align-last: center;
        max-width: var(--anchoMaxCajaMensajePrincipal)
        }
    
   
   
/* Atributos Formulario */


    #invitacion {
        font-family: var(--fuenteParrafos);
        font-style: italic;
        font-weight: 600px;
        font-size: 18px;
        line-height: 25px;
        color: var(--naranja);
        align-content: flex-end;
        background-color: var(--blanco50)
        }

    .formulario_registro{
        min-width: 100%;
        transition: 1.0s;
        }

    .dato_registro{
        background: none;
        color: var(--negro);
        font-family: var(--fuenteParrafos);
        font-style: bold;
        font-weight: bold;
        font-size: 22px;
        padding:10px 10px 0px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--naranja)
        }

    .dato_registro:focus {
        outline: none;
        color: var(--negro);
        }

    .label_form {
        padding-bottom: 10px;
        font-family: var(--fuenteParrafos);
        font-style: italic;
        font-weight: 300px;
        font-size: 18px;
        line-height: 19px;
        color: var(--naranja);  
        }

    .Boton_Registrarme {
        background-color: var(--naranja);
        font-family: var(--fuenteTitulos);
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: var(--blanco);
        padding: 10px 10px 10px 10px;
        width: 80%;
        border: none;
        border-radius: 30px;
        margin-top: 5%;
        margin-left: 10%;
        cursor: pointer;
        }
