/* COLORS */
/* SHADOWS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital@1&display=swap");
/* TYPO */
h1 { font-size: 45px; font-weight: bold; font-family: "Poppins"; letter-spacing: 1px; }

@media screen and (min-width: 1240px) { h1 { font-size: 35px; } }

h2 { font-size: 40px; font-weight: bold; font-family: "Poppins"; }

@media screen and (min-width: 1240px) { h2 { font-size: 25px; } }

h3 { font-size: 35px; font-weight: normal; font-family: "Poppins"; }

@media screen and (min-width: 1240px) { h3 { font-size: 20px; } }

h4 { font-size: 28px; font-weight: normal; font-family: "Poppins"; }

@media screen and (min-width: 1240px) { h4 { font-size: 16px; } }

/* WIDTHS */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { line-height: 1.5; background: linear-gradient(90deg, #ffe5c4, #e6e0d9, #cbf5ff); background-size: 200%; }

ul { list-style: none; }

.containedButton { background-color: #e2665c; color: #ffffff; box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a; cursor: pointer; padding: 3%; width: 100%; border: none; margin-top: 8px; border-radius: 6px; }

.containedButton:hover { background-color: #c44d44; transition: 0.5s; }

.containedButton:focus { background-color: #c44d44; transition: 0.5s; outline: none; }

/* INPUT */
.input { font-size: 35px; font-weight: normal; font-family: "Poppins"; letter-spacing: 1px; background: #ffffff; margin: 8px auto; padding: 3% 5%; width: 100%; border-radius: 6px; border: 2px solid #dddfe2; }

@media screen and (min-width: 1184px) { .input { font-size: 20px; } }

.input:focus { border: 2px solid #e2665c; box-shadow: 0 2px 4px #e2635a33, 0 8px 10px #e2635a33; outline: none; }

.socialLinks { display: flex; justify-content: center; }

.socialLinks a { font-size: 40px; background-color: #ffffff33; color: #ffffff; display: inline-block; text-align: center; vertical-align: middle; height: 80px; width: 80px; margin: 10px; padding: 20px; line-height: 40px; border-radius: 20%; transition: all 0.5s ease; }

@media screen and (min-width: 1240px) { .socialLinks a { font-size: 20px; height: 40px; width: 40px; padding: 0px; } }

.socialLinks a:hover { color: #c44d44; background-color: #ffffff; }

footer { font-family: "Poppins", sans-serif; background-color: #e2665c; padding: 5% 0%; position: relative; bottom: 0; width: 100%; }

@media screen and (min-width: 1240px) { footer { position: absolute; padding: 1% 0%; } }

.container { max-width: 1170px; margin: auto; }

.row { display: flex; flex-wrap: wrap; right: 0px; justify-content: center; }

.column { width: 50%; }

.login { flex: 2; grid-column: 8/13; background-color: #ffffffb0; box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a; /*  max-width: $maxWidthFormLoginPhone; min-width: $minWidthFormLoginPhone; */ margin: 2% auto; padding: 2%; border-radius: 15px; /*  & i { position:absolute; font-size: 25px; color:gray; margin: 12px 0 0 -45px; } */ }

@media screen and (min-width: 1240px) { .login { /*  max-width: $maxWidthFormLoginWeb; min-width: $minWidthFormLoginWeb; */ margin: auto; display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(7, auto); gap: 10px; } }

.resetPassword { margin: 5% auto 0% auto; text-align: center; }

.resetPassword a { color: #55473d; }

.inviteRegister { margin: 3% 0% 0% 0%; text-align: center; color: #e2665c; }

.inviteRegister a { color: #e2665c; }

/* MAIN */
main { display: grid; grid-template-columns: repeat(11, 1fr); grid-template-rows: repeat(3, auto); width: 70%; height: 95%; margin: 3% auto auto; gap: 10px; }

/* @media screen and (min-width: 1240px) { main {     margin: 5% 5% 0% 5%;  } }  */
/* BANNER */
.banner { /* flex: 1; */ grid-column: 1/8; display: grid; grid-template-columns: repeat(7, 1fr); grid-template-rows: repeat(3, auto); gap: 10px; /* margin: 0px auto; */ color: #55473d; /* max-width: $maxWidthMainMessagePhone; min-width: $minWidthMainMessagePhone; */ /* text-align: center;  */ }

@media screen and (min-width: 1240px) { .banner { /* max-width: $maxWidthMainMessageWeb;  min-width: $minWidthMainMessageWeb; */ /* padding:0px 30px; */ } }

.logo { grid-column: 2/7; /* max-width: 600px; */ /* padding-top: 2%; */ }

.slogan { grid-column: 2/7; min-width: 580px; text-align: center; /* padding-top: 2%; */ }

.picture { grid-column: 1/8; /*  max-width: 800px; */ }

/* .bannerPicture{ margin: 30px 0px;     } */
@media screen and (min-width: 1240px) { .logo { grid-column: 2/7; /* padding-top: 2%; */ } }
/*# sourceMappingURL=styles.css.map */