@font-face {
    font-family:'Aestetico Informal';
    src: url(/lib_fonts/Aestetico_Informal_Regular.otf);
}

:root {
    
    --naranja: #e2665c;
    --grisbordes:#dddfe2;
    --crema:#e6e0d9;
    --azul:#00cbcb;

    --gradienteFondo:linear-gradient(90deg,#ffe5c4, #e6e0d9 , #cbf5ff );

    --sombra:0 2px 4px #0000001a, 0 8px 16px #0000001a;
        
    --fuenteParrafos:'IBM Plex Sans', sans-serif;
    --fuenteTitulos:'Aestetico Informal';

    --anchoMaxCajaMensajePrincipalWeb: 800px;
    --anchoMinCajaMensajePrincipalWeb: 600px;  
    --anchoMaxCajaFormularioWeb: 500px;
    --anchoMinCajaFormularioWeb: 300px;  

    --anchoMaxCajaMensajePrincipalPhone: 800px;
    --anchoMinCajaMensajePrincipalPhone: 800px; 
    --anchoMaxCajaFormularioPhone: 700px;
}
    
/* Contenido Responsive */

.bodyLandingPage {
    background:var(--gradienteFondo);
    background-size: 200%; 
}

.contenidoLandingPage {    
    display: flex; 
    flex-wrap: wrap; 
    margin: 10% 3%; 
}

/* Mensaje principal */

.mensajeIlustracion {
    flex: 1;
    margin: 0px auto;
    font-family: var(--fuenteParrafos);
    font-size: 35px;
    font-weight: bold;
    color: black;
    letter-spacing:1px;
    padding: 0px 30px;
    max-width: var(--anchoMaxCajaMensajePrincipalWeb);
    min-width: var(--anchoMinCajaMensajePrincipalWeb);
    align-content: center;
    text-align: center;               
}
    .mensajePrincipal_logo {    
        max-height: 150px;
    }

    .ilustracionPrincipal{
        margin: 30px 50px;    
    }
        
/* Formulario de Registro */

.formularioRegistro {
    flex:2;
    font-family: var(--fuenteParrafos);
    font-size: 23px;
    background-color: white;
    margin: auto;
    max-width: var(--anchoMaxCajaFormularioWeb);
    min-width: var(--anchoMinCajaFormularioWeb);
    padding: 50px ;    
    border-radius: 8px;  
    box-shadow:var(--sombra)
}

    .formularioRegistro_invitacion {  
        color: var(--naranja);
        max-height: 150px; 
        text-align: center;
        margin: 0 5% 5% 5%;
    }  
     
    .formularioRegistro_casilla {
        font-size: 20px;
        background: var(--crema);
        color: black;
        margin:8px auto ;
        padding: 3% 5%;
        width: 90%;       
        border-radius: 6px;  
        border: 2px solid var(--grisbordes);
        letter-spacing: 1px;
    }

        .formularioRegistro_casilla:focus {
            outline: none;
            color: var(--negro);
            border: 2px solid var(--naranja);
        }
   
    .formularioRegistro_botonEnvioDatos {
        background-color: var(--naranja);
        font-family: var(--fuenteParrafos) ;
        font-weight: bold;
        font-size: 28px;
        color: white;
        padding: 10px;
        width: 60%;
        border: none;
        margin: 5% 20% 0 20%;
        cursor: pointer;
        border-radius: 6px; 
        box-shadow:var(--sombra);
    }

        .formularioRegistro_botonEnvioDatos:hover {
            background-color:var(--azul); 
            transition: 0.5s;
            width: 50%;
            margin: 5% 25% 0 25%;
        }

        .formularioRegistro_botonEnvioDatos:focus {
            background-color:var(--azul); 
            transition: 0.5s;
        }

    @media screen and (max-width: 1144px) {

        .mensajeIlustracion {
            margin-bottom: 0px;
            max-width: var(--anchoMaxCajaMensajePrincipalPhone); 
            font-size: 50px;             
        }

        .mensajePrincipal_logo {    
            max-height: 180px;
        }
        
        .formularioRegistro {
            max-width: var(--anchoMaxCajaFormularioPhone);
            font-size: 35px;
        }

        .formularioRegistro_casilla {
            font-size: 40px; 
        }

        .formularioRegistro_botonEnvioDatos {
            font-size: 40px;

    
    }