@font-face {    src: url(fonts\Aestetico_Black_It.otf);    font-family:Aestetico_Black_It;    }
@font-face {    src: url(fonts\Aestetico_Black.otf);     font-family:Aestetico_Black;          }
@font-face {    src: url(fonts\Aestetico_Bold_It.otf);     font-family:Aestetico_Bold_It;          }
@font-face {    src: url(fonts\Aestetico_Bold.otf);     font-family:Aesteticoo_Bold;          }
@font-face {    src: url(fonts\Aestetico_ExtraBold_It.otf);     font-family:Aestetico_ExtraBold_It;          }
@font-face {    src: url(fonts\Aestetico_ExtraBold.otf);     font-family:Aestetico_ExtraBold;          }
@font-face {    src: url(fonts\Aestetico_ExtraLight_It.otf);     font-family:Aestetico_ExtraLight_It;          }
@font-face {    src: url(fonts\Aestetico_ExtraLight.otf);     font-family:Aestetico_ExtraLight;          }
@font-face {    src: url(fonts\Aestetico_Formal_Black_It.otf);     font-family:Aestetico_Formal_Black_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Black.otf);     font-family:Aestetico_Formal_Black;          }
@font-face {    src: url(fonts\Aestetico_Formal_Bold_It.otf);     font-family:Aestetico_Formal_Bold_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Bold.otf);     font-family:Aestetico_Formal_Bold;          }
@font-face {    src: url(fonts\Aestetico_Formal_ExtraBold_It.otf);     font-family:AesteticoFormal_ExtraBold_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_ExtraBold.otf);     font-family:AesteticoFormal_ExtraBold;          }
@font-face {    src: url(fonts\Aestetico_Formal_ExtraLight_It.otf);     font-family:Aestetico_Formal_ExtraLight_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_ExtraLight.otf);     font-family:Aestetico_Formal_ExtraLight;          }
@font-face {    src: url(fonts\Aestetico_Formal_Light_It.otf);     font-family:Aestetico_Formal_Light_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Light.otf);     font-family:Aestetico_Formal_Light;          }
@font-face {    src: url(fonts\Aestetico_Formal_Medium_It.otf);     font-family:Aestetico_Formal_Medium_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Medium.otf);     font-family:Aestetico_Formal_Medium;          }
@font-face {    src: url(fonts\Aestetico_Formal_Regular_It.otf);     font-family:Aestetico_Formal_Regular_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Regular.otf);     font-family:Aestetico_Formal_Regular;          }
@font-face {    src: url(fonts\Aestetico_Formal_SemiBold_It.otf);     font-family:Aestetico_Formal_SemiBold_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_SemiBold.otf);     font-family:Aestetico_Formal_SemiBold;          }
@font-face {    src: url(fonts\Aestetico_Formal_Thin_It.otf);     font-family:Aestetico_Formal_Thin_It;          }
@font-face {    src: url(fonts\Aestetico_Formal_Thin.otf);     font-family:Aestetico_Formal_Thin;          }
@font-face {    src: url(fonts\Aestetico_Informal_Black_It.otf);     font-family:Aestetico_Informal_Black_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_Black.otf);     font-family:Aestetico_Informal_Black;          }
@font-face {    src: url(fonts\Aestetico_Informal_Bold_It.otf);     font-family:Aestetico_Informal_Bold_It;          }
@font-face {    src: url(lib_fonts\Aestetico_Informal_Bold.otf);     font-family:Aestetico_Informal_Bold;          }
@font-face {    src: url(fonts\Aestetico_Informal_ExtraBold_It.otf);     font-family:Aestetico_Informal_ExtraBold_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_ExtraBold.otf);     font-family:Aestetico_Informal_ExtraBold;          }
@font-face {    src: url(fonts\Aestetico_Informal_ExtraLight_It.otf);     font-family:Aestetico_Informal_ExtraLight_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_ExtraLight.otf);     font-family:Aestetico_Informal_ExtraLight;          }
@font-face {    src: url(fonts\Aestetico_Informal_Light_It.otf);     font-family:Aestetico_Informal_Light_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_Light.otf);     font-family:Aestetico_Informal_Light;          }
@font-face {    src: url(fonts\Aestetico_Informal_Medium_It.otf);     font-family:Aestetico_Informal_Medium_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_Medium.otf);     font-family:Aestetico_Informal_Medium;          }
@font-face {    src: url(fonts\Aestetico_Informal_Regular_It.otf);     font-family:Aestetico_Informal_Regular_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_Regular.otf);     font-family:Aestetico_Informal_Regular;          }
@font-face {    src: url(fonts\Aestetico_Informal_SemiBold_It.otf);     font-family:Aestetico_Informal_SemiBold_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_SemiBold.otf);     font-family:Aestetico_Informal_SemiBold;          }
@font-face {    src: url(fonts\Aestetico_Informal_Thin_It.otf);     font-family:Aestetico_Informal_Thin_It;          }
@font-face {    src: url(fonts\Aestetico_Informal_Thin.otf);     font-family:Aestetico_Informal_Thin;          }
@font-face {    src: url(fonts\Aestetico_Light_It.otf);     font-family:Aestetico_Light_It;          }
@font-face {    src: url(fonts\Aestetico_Light.otf);     font-family:Aestetico_Light;          }
@font-face {    src: url(fonts\Aestetico_Medium_It.otf);     font-family:Aestetico_Medium_It;          }
@font-face {    src: url(fonts\Aestetico_Medium.otf);     font-family:Aestetico_Medium;          }
@font-face {    src: url(fonts\Aestetico_Regular_It.otf);     font-family:Aestetico_Regular_It;          }
@font-face {    src: url(fonts\Aestetico_Regular.otf);     font-family:Aestetico_Regular;          }
@font-face {    src: url(fonts\Aestetico_SemiBold_It.otf);     font-family:Aestetico_SemiBold_It;          }
@font-face {    src: url(fonts\Aestetico_SemiBold.otf);     font-family:Aestetico_SemiBold;          }
@font-face {    src: url(fonts\Aestetico_Thin_It.otf);     font-family:Aestetico_Thin_It;          }
@font-face {    src: url(fonts\Aestetico_Thin.otf);     font-family:Aestetico_Thin;          }
@font-face {    src: url(fonts\IBMPlexSans-Bold.ttf);     font-family:IBMPlexSans-Bold;          }
@font-face {    src: url(fonts\IBMPlexSans-BoldItalic.ttf);     font-family:IBMPlexSans-BoldItalic;          }
@font-face {    src: url(fonts\IBMPlexSans-ExtraLight.ttf);     font-family:IBMPlexSans-ExtraLight;          }
@font-face {    src: url(fonts\IBMPlexSans-ExtraLightItalic.ttf);     font-family:IBMPlexSans-ExtraLightItalic;          }
@font-face {    src: url(fonts\IBMPlexSans-Italic.ttf);     font-family:IBMPlexSans-Italic;          }
@font-face {    src: url(fonts\IBMPlexSans-Light.ttf);     font-family:IBMPlexSans-Light;          }
@font-face {    src: url(fonts\IBMPlexSans-LightItalic.ttf);     font-family:IBMPlexSans-LightItalic;          }
@font-face {    src: url(fonts\IBMPlexSans-Medium.ttf);     font-family:IBMPlexSans-Medium;          }
@font-face {    src: url(fonts\IBMPlexSans-MediumItalic.ttf);     font-family:IBMPlexSans-MediumItalic;          }
@font-face {    src: url(fonts\IBMPlexSans-Regular.ttf);     font-family:IBMPlexSans-Regular;          }
@font-face {    src: url(fonts\IBMPlexSans-SemiBold.ttf);     font-family:IBMPlexSans-SemiBold;          }
@font-face {    src: url(fonts\IBMPlexSans-SemiBoldItalic.ttf);     font-family:IBMPlexSans-SemiBoldItalic;          }
@font-face {    src: url(fonts\IBMPlexSans-Thin.ttf);     font-family:IBMPlexSans-Thin;          }
@font-face {    src: url(fonts\IBMPlexSans-ThinItalic.ttf);     font-family:IBMPlexSans-ThinItalic;          }